body {
  display: flex;
  margin: 0;
}
.main_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_container {
  width: 350px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border: 1px solid black;
}
.input_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}
.input {
  width: 100%;
  border: 1px solid gray;
}
.submit_button {
  width: 90%;
  height: 25px;
  cursor: pointer;
}
.hidden {
  display: none !important;
}

/* building css*/

.building_view {
  position: absolute;
  top: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.building {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.floor {
  display: flex;
  border-top: 1px solid black;
  gap: 2rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 4rem;
  gap: 3px;
  align-items: center;
  justify-content: center;
}
.action_btn {
  cursor: pointer;
}
.lifts_container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  height: 5rem;
}
.lift {
  position: relative;
  height: 100%;
  width: 100px;
  background-color: aqua;
  z-index: 10;
}
.door {
  width: 50%;
  height: 100%;
  background-color: whitesmoke;
  position: absolute;
  transition: transform 2.5s ease-in-out;
  border: 0;
}
.left {
  transform-origin: right;
}

.right {
  right: 0;
  transform-origin: left;
}

.door.open {
  transform: scaleX(0);
}

/*responsive*/
@media only screen and (max-width: 950px) {
  .lift {
    width: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .building {
    width: 95%;
  }
}

@media only screen and (max-width: 450px) {
  .form_container {
    width: 90%;
  }
  .building {
    width: 100%;
  }
  .wrapper {
    width: 3rem;
  }

  .lifts_container {
    height: 4rem;
  }
  .lift {
    width: 60px;
  }
}
